---
---

/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #273647;

/* IE10 Consumer Preview */
  background-image: -ms-radial-gradient(center, circle farthest-side, #2F4358 0%, #263648 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, circle farthest-side, #2F4358 0%, #263648 100%);
  /* Opera */
  background-image: -o-radial-gradient(center, circle farthest-side, #2F4358 0%, #263648 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #2F4358), color-stop(1, #263648));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, circle farthest-side, #2F4358 0%, #263648 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: radial-gradient(circle farthest-side at center, #2F4358 0%, #263648 100%);

  background-image: url(/img/bg-img-patients.jpg);
  background-repeat: no-repeat;
  background-size: cover;

font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #1abc9c; text-decoration: none; font-weight: 700; }
a:hover   { opacity: .8; text-decoration: underline; }
a:visited { color: #1abc9c; opacity: .8; }

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

/* Temp Landing Page Styles */
/* ----------------------------------------------------------*/

.temp_lp {

  .page-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .primary-cta {
    display: block;
    margin: 60px auto 0;
    background: #1abc9c;
    color: white;
    text-align: center;
    padding: 8px 40px 10px;
    font-size: 20px;
    border-radius: 5px;
    max-width: 200px;
    font-weight: 300;

    &:hover { text-decoration: none; }

  }

}

.temp_lp_content {

  .logo { width: 100%; height: 100%; }

  .description {
    text-align: center;
    margin-top: 20px;
    font-size: 22px; }

}

.page-content {
  padding: 15px;
  height:100%;
  width: 100%;
  box-sizing: border-box;
}

/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  background-color: #253649;
}

.site-header .site-home-link {
  display: block;
  float: left;
  height: 56px;
}

.site-header .site-home-link .logo {
  width: 160px;
  position: relative;
  top: 14px;
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #333;
  font-size: 26px;
  letter-spacing: -1px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1;
}

.site-nav {
  float: right;
  line-height: 56px;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
  margin-left: 30px;
  color: white;
  letter-spacing: -.5px;
  font-weight: 300;
}
.site-nav .page-link:hover {
  color: #00bd9c;
  text-decoration: none;
}

.site-nav .page-link.primary-cta {
  border: 1px solid white;
  padding: 6px 14px;
  border-radius: 3px;
}
.site-nav .page-link.primary-cta:hover {
  background: #00bd9c;
  border-color: #00bd9c;
  color: white;
}

/* Post styles */
/* ----------------------------------------------------------*/

.post-header {
  margin: 10px 0 30px;

  h1 {
    font-size: 42px;
    letter-spacing: -1.75px;
    line-height: 1;
    font-weight: 300;
  }

  .meta {
    font-size: 15px;
    color: #818181;
    margin-top: 5px;
  }

}

.post-content { margin: 0 0 30px; }

.post-content > * { margin: 20px 0; }


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin: 40px 0 20px;
}

.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  border-radius: 3px;
  font-size: 15px;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code { border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }

// Page styles
// -------------------------------------------/

.page {

  h1 {
    font-size: 36px;
    font-weight: 300;
    margin: 20px 0 20px;
  }

}

// end Page styles ------------/

/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .menu-icon svg { width: 18px; height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }

  .post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

}

@media screen and (max-width: 500px) {

  .temp_lp_content .logo { margin-top: 80px; }

}
