/* Colors */
$font-family-default: "Kanit", sans-serif;
$font-base-default: "Montserrat", sans-serif;
$HR-primary: #60d1bb;
$HR-secondary: #009b9e;
$HR-subtitle: #9cb2c9;
$HR-background: #082949;

$link-color: #082949;
$font-color2: #082949;
$font-color3: #082949;
$feature-white: #ffffffe0;
$bg-color2: #082949;
$button-bg2: #082949;
$hover-color: $HR-primary;
$border-color2: rgba(8, 41, 73, 0.1);
$border-color: rgba(0, 1, 1, 0.01);
$overlay-color: rgba(8, 41, 73, 0.78);
$box-shadow-default: 0 0 20px 5px rgba(8, 41, 73, 0.01);
$box-shadow: 0 0 20px 5px rgba(8, 41, 73, 0.03);
