<!-- Start Help Area -->
<section class="help-area bg-color2">
  <div class="help-wrapper inner-spacing">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-9">
          <div class="help-section white-text">
            <h2 class="heading-2">Do you need support? We can help!</h2>
            <p>Join our Spectrum channel or ask the community for advice on our Slack workspace.</p>
            <div class="col-md-4 col-lg-3 d-flex themeix-highlight  justify-content-md-end justify-content-center">
              <div class="help-btn align-self-center themeix-highlight">
                <a href="https://hospitalrun-slack.herokuapp.com/" class="btn-style2 btn">Slack</a>
                <a href="https://spectrum.chat/hospitalrun" class="btn-style2 btn">Spectrum</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
<!-- End Help  Area -->