<!-- Start Help Area -->
<section class="help-area bg-color3">
  <div class="help-wrapper inner-spacing">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-9">
          <div class="help-section black-text">
            <h2 class="heading-2">Do you need an enterprise solution for your healthcare facility?</h2>
            <p class="m-0">Contact us to learn more on our fully managed platform as a service.</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 d-flex hr-highlight  justify-content-md-end justify-content-center">
          <div class="help-btn align-self-center hr-highlight">
            <a href="/pages/contact" class="btn-style3 btn">Contact Us</a></div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End Help  Area -->