<footer class="site-footer">
  <div class="wrapper">

    <nav class="footer-nav">
      <a href="/demo" class="footer-link">Demo</a> &bull;
      <a href="https://github.com/hospitalrun" class="footer-link">Source</a> &bull;
      <a href="https://github.com/HospitalRun/hospitalrun-frontend/wiki" class="footer-link">Documentation</a> &bull;
      <a href="/hack-week" class="nav-link" target="_blank">Hack Weeks</a> &bull;
      <a href="/contribute" class="footer-link">Contribute</a> &bull;
      <a href="http://goo.gl/NCJDnJ" class="footer-link" target="_blank">Why HospitalRun?</a>
    </nav>
  </div>
</footer>