<footer class="site-footer">
  <div class="wrapper">

    <nav class="footer-nav">
      <a href="/demo" class="footer-link">Demo</a> &bull;
      <a href="https://github.com/hospitalrun" class="footer-link">Source</a> &bull;
      <a href="/beta" class="footer-link">Beta</a> &bull;
      <a href="/events" class="footer-link" target="_blank">Hack Events</a> &bull;
      <a href="/team" class="footer-link" target="_blank">Team</a> &bull;
      <a href="/blog" class="footer-link">Blog</a> &bull;
      <a href="/contribute" class="footer-link">Contribute</a> &bull;
      <a href="/blog/2016/06/why-hospitalrun/" class="footer-link">Why HospitalRun?</a>
    </nav>
  </div>
</footer>
