<!-- Loading -->
<div class="loading-main">
  <div class="pre-loader">
    <div class="loading">
      <div class="bounceball"></div>
      <div class="text">LOADING</div>
    </div>
  </div>
</div>
<!-- Start Header Area -->
<header class="header-area">
  <div class="header-navigation">
    <div class="container">
      <div class="navigation-box">
        <div class="navigation-left">
          <a class="header-logo" href="{{ site.url }}">
            <svg
              class="logo-svg header-logo"
              data-name="logo-svg"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 1738.15 256.91"
              enable-background="new 0 0 200 31.36"
              xml:space="preserve"
              width="200px"
            >
              <defs>
                <style>
                  .cls-1 {
                    fill: #fff;
                  }

                  .cls-2 {
                    fill: url(#linear-gradient);
                  }

                  .cls-3 {
                    fill: url(#New_Gradient_Swatch);
                  }
                </style>
                <linearGradient
                  id="linear-gradient"
                  x1="124.04"
                  y1="119.89"
                  x2="201.47"
                  y2="253.99"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0.01" stop-color="#60d1bb" />
                  <stop offset="0.5" stop-color="#1abc9c" />
                  <stop offset="1" stop-color="#009b9e" />
                </linearGradient>
                <linearGradient
                  id="New_Gradient_Swatch"
                  x1="1466.89"
                  y1="21.96"
                  x2="1668.22"
                  y2="370.67"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0" stop-color="#60d1bb" />
                  <stop offset="0.5" stop-color="#1abc9c" />
                  <stop offset="1" stop-color="#009b9e" />
                </linearGradient>
              </defs>
              <title>logo</title>
              <path
                class="cls-1"
                d="M255.37,93.87h46.49V167.5h72.73V93.87h46.49V279.79H374.59V206.17H301.86v73.62H255.37Z"
                transform="translate(-87.97 -85.23)"
              />
              <path
                class="cls-1"
                d="M439,211.36q0-34.65,19.19-53t57.89-18.35q38.94,0,58.16,18.21t19.2,53.09q0,71.31-77.36,71.32Q439,282.68,439,211.36Zm100.17,26.85c4.6-5.38,6.93-14.33,6.93-26.85s-2.37-21.45-7.09-26.83-12.36-8.08-22.93-8.08-18.21,2.72-22.81,8.22-6.93,14.38-6.93,26.69q0,18.78,6.93,26.85t22.81,8.08Q532.2,246.29,539.15,238.21Z"
                transform="translate(-87.97 -85.23)"
              />
              <path
                class="cls-1"
                d="M631.21,280.35c-9.79-1.52-17.69-3.45-23.65-5.75V239.08a116.43,116.43,0,0,0,23,6.5,132.22,132.22,0,0,0,24.1,2.45q13.57,0,18.61-1.29c3.36-.87,5-2.94,5-6.21,0-2.7-1.62-4.91-4.91-6.64s-9.05-3.86-17.31-6.35l-12.41-4q-20.22-6.94-29.15-16t-9-25.56q0-41.86,63.5-41.86a171.72,171.72,0,0,1,25.11,1.88,128.45,128.45,0,0,1,21.35,4.77v34.93a79.55,79.55,0,0,0-18-5.33,104.92,104.92,0,0,0-19.19-1.88q-12.69,0-19,1.43t-6.35,6.06a6.18,6.18,0,0,0,4,5.92,139.28,139.28,0,0,0,15.58,5.33c3.85,1,7.8,2.14,11.84,3.48q16.17,4.9,25.11,10.53t12.71,13.43c2.49,5.19,3.76,11.73,3.76,19.62q0,20.79-16.3,31.62t-47.5,10.83A198,198,0,0,1,631.21,280.35Z"
                transform="translate(-87.97 -85.23)"
              />
              <path
                class="cls-1"
                d="M740.9,143h40.43l2.3,11.84q17.89-14.73,43-14.73,63.23,0,63.22,68.43,0,36.36-17.31,55.28t-48.21,18.91q-21.68,0-37-8.95v68.41H740.9Zm94,95.26q7.64-10.4,7.65-30.59,0-19.06-6.79-26.26t-22.36-7.24a37.14,37.14,0,0,0-26,10.41V240a46.88,46.88,0,0,0,11.39,6.48,38,38,0,0,0,13.72,2.19Q827.23,248.62,834.87,238.21Z"
                transform="translate(-87.97 -85.23)"
              />
              <path
                class="cls-1"
                d="M919.32,177.32H899.09l4-34.37h62.66V279.79H919.32Zm-3.76-90.94h50.51v34.93H915.56Z"
                transform="translate(-87.97 -85.23)"
              />
              <path
                class="cls-1"
                d="M1014.72,270q-12.3-12.69-12.29-36.08V178.16H984V143h18.46V114.38L1048.92,102v41h33.2l-2,35.21h-31.18v52.55c0,6.53,1.53,11.12,4.61,13.7s8.08,3.9,15,3.9a53.34,53.34,0,0,0,17-2.89V276.9q-13.56,5.78-33.76,5.78Q1027,282.68,1014.72,270Z"
                transform="translate(-87.97 -85.23)"
              />
              <path
                class="cls-1"
                d="M1110.84,271.57q-13.69-11.15-13.69-31.91,0-21.34,14.56-33.19t42.59-11.84h38.11v-3.17c0-7.12-2.37-12.12-7.07-15s-13.35-4.35-25.84-4.35a149.28,149.28,0,0,0-45.91,7.24v-30a134.61,134.61,0,0,1,25.12-6.64,173.36,173.36,0,0,1,30.3-2.61q32.63,0,50.25,13.3t17.6,41v85.44h-40.72l-2.3-11.56q-15.85,14.44-48.2,14.45Q1124.56,282.68,1110.84,271.57Zm81.57-30.75V221.48H1159.5q-10.39,0-15.46,4t-5,12.41q0,16.17,21.38,16.16Q1181.16,254.09,1192.41,240.82Z"
                transform="translate(-87.97 -85.23)"
              />
              <path
                class="cls-1"
                d="M1266.58,272.86c-6.56-6.56-9.82-17-9.82-31.48V85.23h46.46V236.78q0,6.61,2.61,9.09c1.74,1.64,4.51,2.44,8.36,2.44a43.39,43.39,0,0,0,13.86-2v31.48a76.56,76.56,0,0,1-13.41,3.73,90.49,90.49,0,0,1-15.74,1.18Q1276.39,282.68,1266.58,272.86Z"
                transform="translate(-87.97 -85.23)"
              />
              <path
                id="cross"
                class="cls-2"
                d="M234.32,160.64H190.46V115.39a3.28,3.28,0,0,0-3.28-3.28H138.39a3.28,3.28,0,0,0-3.28,3.28v45.25H91.25A3.29,3.29,0,0,0,88,163.92V210.1a3.12,3.12,0,0,0,3.12,3.11h44v45.25a3.28,3.28,0,0,0,3.28,3.28h48.79a3.28,3.28,0,0,0,3.28-3.28V213.21h44a3.12,3.12,0,0,0,3.12-3.11V163.92A3.29,3.29,0,0,0,234.32,160.64Z"
                transform="translate(-87.97 -85.23)"
              />
              <path
                class="cls-3"
                d="M1342.78,93.62h93q32,0,48.07,16.89t16,46.89q0,18.78-9.4,32.91a56.07,56.07,0,0,1-26.12,21.07,32.29,32.29,0,0,1,6.2,6.93,79.76,79.76,0,0,1,5.64,11l21.94,50.23h-48.51l-20.77-47.34q-2.61-6.34-6.65-8.95c-2.7-1.74-6.53-2.61-11.53-2.61h-21.38v58.9h-46.47Zm80.84,91.21q13.85,0,21.35-6.93t7.5-20.5q0-28-26.83-28h-36.39v55.44Zm104.74,83.85q-13.42-13.71-13.44-40v-86h46.5v83.42c0,7.71,1.83,13.32,5.47,16.89s9.35,5.33,17,5.33a38.18,38.18,0,0,0,15.6-3.31,39,39,0,0,0,12.71-8.81V142.69h46.47V279.51h-43.3L1613.94,268q-19.34,14.41-47.61,14.43Q1541.76,282.4,1528.36,268.68Zm154-126h43.32l1.43,11.84A80.44,80.44,0,0,1,1748.9,144a84.63,84.63,0,0,1,26.41-4.18q26.28,0,38.55,12.71t12.26,39.25v87.75h-46.49v-84c0-7.68-1.67-13.18-5.05-16.44s-9.18-4.91-17.45-4.91a37.29,37.29,0,0,0-15.3,3.47,42.49,42.49,0,0,0-13,8.65v93.24h-46.49Z"
                transform="translate(-87.97 -85.23)"
              />
            </svg>
          </a>
        </div>

        <div class="navigation-right">
          <nav class="navigation-navbar">
            <ul id="navigation-menu" class="slimmenu">
              {% for link in site.data.navigation %} {% assign active = nil %}
              {% for sublink in link.submenu %} {% if page.url contains
              sublink.url %} {% assign active = 'active' %} {% endif %} {%
              endfor %} {% if page.url contains link.url %} {% assign active =
              'active' %} {% endif %}

              <li
                class="{{ active }}{% if link.submenu %} themeix-dropdown has-children{% endif %}"
              >
                <a
                  href="{{ link.url|prepend:site.baseurl }}"
                  {%
                  if
                  link.submenu
                  %}
                  style="pointer-events: none"
                  {%
                  endif
                  %}
                  >{{ link.text }}</a
                >

                {% if link.submenu %}
                <ul class="themeix-dropdown-item" role="menu">
                  {% for sublink in link.submenu %}
                  <li
                    {%
                    if
                    page.url
                    contains
                    sublink.url
                    %}class="active"
                    {%
                    endif
                    %}
                  >
                    <a href="{{ sublink.url|prepend:site.baseurl }}"
                      >{{ sublink.text }}</a
                    >
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </li>
              {% endfor %}
              <!-- <li class="donate-wrapper">
                <a href="https://opencollective.com/hospitalrun" class=" btn btn-style6 btn-donate" target="_blank" rel="noopener"><span>Donate <i class="fa fa-heart"></i></span></a>
              </li> -->
              {% comment %}
              <li>
                <a class="nav-search" data-toggle="modal" data-target="#modal"
                  ><img
                    src="{{site.baseurl}}/assets/images/search-logo.png"
                    alt="nav search"
                /></a>
              </li>
              {% endcomment %}
            </ul>
          </nav>
        </div>
        <div
          class="modal fade"
          id="modal"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal-dialog-scrollable modal-lg"
            role="document"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">
                  Search
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="modal-search-form" action="#">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="search-input"
                      placeholder="Type here "
                      required=""
                    />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                </form>
              </div>
              <ul id="results-container"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Header Area -->
