<!-- Start Map Area -->
<section class="bg-color3 col">
  <div class="section-spacing">
    <div class="container">
      <div class="section-title">
        <h2 class="heading-2">A solution used worldwide</h2>
        <p>HospitalRun is used worldwide, covering the needs of small medical districts up to large-scale hospital
          clinics.</p>
      </div>
      <div class="row">
        <div class="col">
          <div id="mapid" style="width: 100%; height: 600px;"></div>
          <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin="" />
          <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
          <script>
            var mymap = L.map('mapid', {
              minZoom: 2,
              maxZoom: 4,
              zoomDelta: 0.5,
              zoomSnap: 0
            }).setView([51.505, -0.09], 2.5);



            L.marker([6.4343021,-10.7641088]).addTo(mymap)
              .bindPopup("<b>Home of Dignity</b><br />Liberia");
            L.marker([3.8302938,11.3703663]).addTo(mymap)
              .bindPopup("<b>KarerunGO!</b><br />Cameroon");
            L.marker([9.5488929,43.9943136]).addTo(mymap)
              .bindPopup("<b>Warsan Relief Organization</b><br />Republic of Somaliland");
            L.marker([17.4126274,78.2679603]).addTo(mymap)
              .bindPopup("<b>Jeev Healthcare</b><br />India");
            L.marker([10.8052056,106.6660006]).addTo(mymap)
              .bindPopup("<b>MRN CLINIC</b><br />Vietnam");
            L.marker([9.9710364,76.2382529]).addTo(mymap)
              .bindPopup("<b>Smile Dental Clinic</b><br />India");
            L.marker([30.0634164,31.2502987]).addTo(mymap)
              .bindPopup("<b>Coptic Hospital</b><br />Egypt");
            L.marker([6.4206193,39.2043382]).addTo(mymap)
              .bindPopup("<b>Al-Siha Medical Center</b><br />Zanzibar");  

            L.tileLayer(
              'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                  '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                  'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox.streets'
              }).addTo(mymap);

            var popup = L.popup();
          </script>
        </div>

      </div>
</section>
<!-- End Map Area -->