<a href="/blog/2016/06/why-hospitalrun" class="nav-link">Why HospitalRun</a>
<a href="https://github.com/hospitalrun" class="nav-link">Source</a>
<a href="/events" class="nav-link">Hack Events</a>
<a href="/blog" class="nav-link">Blog</a>
<a href="/contribute" class="nav-link">Contribute</a>
<a href="/blog/2016/06/why-hospitalrun" class="nav-link">Why HospitalRun?</a>
<a href="/partners" class="nav-link">Our Partners</a>
<a href="/stats" class="nav-link">Stats</a>
<a href="/tryit" class="nav-link cta">Try it</a>
