<div style="text-align:center" class='each-partner'>
  <div class="partner-post">
    <a href="https://cure.org/"><img src="../img/CURE-Logo.png" alt="Cure International logo" class="partner-logo"></a>
  </div>
  <h3 class="partner-name">Cure International</h3>
</div>
<div style="text-align:center" class='each-partner'>
  <div class="partner-post">
    <a href="https://www.ehealthafrica.org/"><img src="../img/ehealth.jpg" alt="eHealthAfrica logo" class="partner-logo"></a>
  </div>
  <h3 class="partner-name">eHealthAfrica</h3>
</div>
<div style="text-align:center" class='each-partner center'>
  <div class="partner-post">
    <a href="https://www.embersherpa.com/"><img src="../img/ember.png" alt="Ember Sherpa logo" class="partner-logo"></a>
  </div>
  <h3 class="partner-name">Ember Sherpa</h3>
</div>
<div style="text-align:center" class='each-partner center'>
  <div class="partner-post">
    <a href="https://newrelic.com/"><img src="../img/newrelic.png" alt="New Relic logo" class="partner-logo"></a>
  </div>
  <h3 class="partner-name">New Relic</h3>
</div>
<div style="text-align:center" class='each-partner'>
  <div class="partner-post">
    <a href="https://bizspark.microsoft.com/"><img src="../img/microsoft.jpg" alt="Microsoft BizSpark logo" class="partner-logo"></a>
  </div>
  <h3 class="partner-name">Microsoft BizSpark</h3>
</div>
