<center class='each-partner'>
  <div class="partner-post">
    <img src="../img/github.png" class="partner-logo" >
  </div>
  <h3 class="partner-name">GitHub</h3>
</center>
<center class='each-partner'>
  <div class="partner-post">
    <img src="../img/stammed.png" class="partner-logo" >
  </div>
  <h3 class="partner-name">SATMED (government of Luxembourg)</h3>
</center>
<center class='each-partner'>
  <div class="partner-post">
    <img src="../img/Ember-logo.png" class="partner-logo" >
  </div>
  <h3 class="partner-name">Ember</h3>
</center>
