<!-- Start Help Area -->
<section class="help-area bg-color1 wow fadeInUp">
  <div class="help-wrapper section-spacing pt-0">
    <div class="container">
      <div class="help-section">
        <h3 class="heading-3">Open-source software for developing world hospitals.</h3>
        <p>
          HospitalRun is one of the most popular offline-first electronic health records and hospital information system. HospitalRun's goal is a higher choice to its proprietary counterparts.</p>
   <p>The software can be deployed in a variety of healthcare environments. Thanks to its technical feature that allows use even without connectivity, it is also suitable for clinics located in the most rural areas of the planet.
With inspiring volunteers and contributors dedicated to leading HR's status as a free, open-source software solution for medical practices with a commitment to openness, kindness and cooperation.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Help  Area -->
