<!-- Feature Home Area -->
<section class="faq-area bg-color1">
    <div class="faq-wrapper section-spacing bminus-30">
          <div class="container">
    <div class="row">
      <div clas="col-12">
        <h2 class="text-center px-4">
          "Building software for the developing world is about embracing the
          realities of lower-resource settings as a driver - rather than a
          constraint - for innovation."
        </h2>

        <h4 class="text-center pt-5">
          <a href="/blog/why-hospitalrun/">
            Read more about why HospitalRun was born.</a>
        </h4>
      </div>
    </div>
  </div>
    </div>
</section>
<!-- End Feature Home -->