// Base
// ----------------------------------------------------------

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: $white;
  height: 100%;
}

body {
  @include sans;
  background-color: $bg-navy;
  height: 100%;

  // IE10 Consumer Preview
  background-image: -ms-radial-gradient(center, circle farthest-side, #2F4358 0%, #263648 100%);
  // Mozilla Firefox
  background-image: -moz-radial-gradient(center, circle farthest-side, #2F4358 0%, #263648 100%);
  // Webkit (Chrome 11+)
  background-image: -webkit-radial-gradient(center, circle farthest-side, #2F4358 0%, #263648 100%);
  // W3C Markup, IE10 Release Preview
  background-image: radial-gradient(circle farthest-side at center, #2F4358 0%, #263648 100%);

  background-image: url(/img/bg-img-patients.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  // typography
  @include sans;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: $text_color;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

a         {
  color: #1abc9c;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    opacity: .8;
    text-decoration: underline;
  }

  &:visited {
    color: #1abc9c;
    opacity: .8;
  }
}

// Utility

.wrapper:before,
.wrapper:after { content:""; display:table; }
.wrapper:after { clear: both; }
.wrapper {
  max-width: 1084px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}