// Base
// ----------------------------------------------------------

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  @include sans;
  background-color: $bg-navy;
  height: 100%;

  // typography
  @include sans;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: $text_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

dt {
  color: $green;
  font-weight: bold;
  line-height: 25px;
}

a {
  color: $green;
  text-decoration: none;

  &:hover {
    opacity: .8;
    text-decoration: underline;
  }

  &:visited {
    color: $green;
    opacity: .8;
  }
}

// Utility

.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}

.wrapper:after {
  clear: both;
}

.wrapper {
  max-width: 1084px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}