.blog-sidebar {
  margin-top: 35px;
  background-color: $navy-drk;
  border-radius: 2px;
}

.recent-post-header {
  font-size: 20px;
  padding-left: 25px;
}

.recent-posts {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: lighten($navy-drk, 3%);
  h2 {
    padding-left: 25px;
    font-size: 10px;
    a {
      color: $green;
    }
  }
}

.index-list {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.blog-posts {
  display: flex;
  flex-direction: row;
}

.post h1 a {
  color: white;
  font-size: 36px;
  &:hover {
    color: $green;
    text-decoration: none;
    border-bottom: 2px solid $green;
  }
}

.post p.meta {
  color: #8FA5BC;
}

.post h1,
.post h2,
.post h3,
.post h4 {
  color: #8FA5BC;
}

.post-header {
  margin: 10px 0 30px;

  h1 {
    color: white;
    font-size: 48px;
    letter-spacing: -1.75px;
    line-height: 1;
    font-weight: 300;
  }

  .meta {
    font-size: 15px;
    color: #818181;
    margin-top: 5px;
  }

}

.post-content { margin: 0 0 30px; }

.post-content > * { margin: 20px 0; }

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin: 40px 0 20px;
}

.post-content h1 {
  font-size: 36px;
  letter-spacing: -1.25px;
}

.post-content h2 {
  font-size: 24px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 21px;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 18px;
  letter-spacing: -1px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #3B4D63;
  background-color: $navy-drk;
  padding: 8px 12px;
  border-radius: 3px;
  font-size: 15px;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code { border: none; }
