.blog-sidebar {
  height: 100%;
  width: 300px;
  margin: {
    top: 35px;
    bottom: 48px;
    right: 40px;
  }
  background-color: $navy-drk;
  border-radius: 4px;
  @include media_max(1030px) { display: none; }
}

.sidebar-header {
  padding-left: 20px;
  margin: 10px 0;
  font-size: 18px;
}

.recent-posts {
  padding: {
    top: 5px;
    bottom: 5px;
  }
  background-color: lighten($navy-drk, 3%);

  h2 {
    padding-left: 20px;
    font-size: 14px;

    a { color: $green; }
  }
}

.post,
.index-list {
  width: 100%;
}

.post-wrapper,
.index-list {
  @include media_max(1030px) { @include center-element(85%); }
  @include media_max(780px)  { @include center-element(95%); }
}

.blog-posts,
.post-wrapper { @include add-flexbox(row); }

.index-list {
  @include add-flexbox(column);

  h1 {
    margin-bottom: 0px;
    margin-top: 22px;
  }

  p.meta {
    margin-top: 0px;
  }

  .post {
    margin-bottom: 30px;
  }
}

.post {

  h1, h2, h3, h4 {
    color: $gray-blue;
  }

  h1 a {
    font-size: 36px;
    color: white;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }

  p.meta { color: $gray-blue; }

  pre, code {
    padding: 8px 12px;
    border-radius: 3px;
    font-size: 15px;
    border: 1px solid $navy-gray;
    background-color: $navy-drk;
  }

  code { padding: 1px 5px; }

  ul,
  ol { margin-left: 1.35em; }

  pre code {
    border: none;
  }
}

.post-header {
  margin: 0px 0 30px;

  h1 {
    margin-bottom: 0px;
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;
    color: white;
    font-weight: 300;
  }

  .meta {
    margin-top: 5px;
    font-size: 15px;
    color: $medium-gray;
  }
}

.post-content {

  h1, h2, h3, h4, h5, h6 {
    margin: 40px 0 20px;
    line-height: 1;
    font-weight: 300;
  }

  h1 { font-size: 36px; }

  h2 { font-size: 24px; }

  h3 { font-size: 21px; }

  h4 { font-size: 18px; }

  h1,
  h2 { letter-spacing: -1.25px; }

  h3,
  h4 { letter-spacing: -1px; }

  blockquote {
    margin: 30px 0;
    padding-left: 20px;
    font-size: 18px;
    font-style: italic;
    border-left: 4px solid $light-gray;
    opacity: .6;
  }

  ul,
  ol { padding-left: 20px; }
}
