// Demo page styles
// -------------------------------------------/

body.demo {

  h2 {
    font-size: 24px;
    margin: 20px 0 0;
  }

  h3 {
    font-size: 18px;
    margin-top: 20px;
  }

  p > strong {
    color: $green;
    padding: 2px 6px;
    background: rgba($green,.1);
    border-radius: 3px;
    text-transform: uppercase;
  }

}