
.page-event {
  text-align: center;

  .top {
    padding-bottom: 50px;
    margin-bottom: 30px;
    overflow: hidden;
    background-image: url(/img/bg-img-patients.jpg);
    background-repeat: no-repeat;
    background-size: cover;

  }

  hr {
    border-width: 1px;
    border-color: #546a83;
    border-style: solid;
  }

  .vspacer {
    margin-bottom: 30px;
  }

  .teams {
    .team {
      height: 200px;
      margin: 30px 0;
      display: block;

      .photo {
        height: 200px;
        background-size: cover;
        background-position: center;
        display: block;
        margin-right: 15px;
        float: left;
        width: 30%;
        @include media_max($bp_mobile) { width: 100%; }
      }

      .description {
        display: block;
        text-align: left;
        float: left;
        width: 60%;
        @include media_max($bp_mobile) { width: 100%; }
      }

      &:after {
        content: "";
        clear: both;
        display: block;
      }
    }
  }
}

.cta-row {
  max-width: 485px;
  margin: 0 auto 56px;
  text-align: center;
}

.cta {
  width: 225px;
  border-radius: 5px;
  font-size: 1.125rem;
  line-height: 46px;
  display: inline-block;
  color: $white;

  &:hover { text-decoration: none; }

  &.primary { background: $green; }

  &.secondary {
    background: transparent;
    border: 1px solid $green;
    margin-left: 30px;

    @include media_max($bp_mobile) { margin-left: auto; }
  }

  &:visited {
    color: white;
    opacity: .8;
  }

  @include media_max($bp_mobile) {
    display: block;
    margin: 0 auto 20px;
  }
}
