// Home styles
// ---------------------------------------/

.page-home {

  .page-top {
    overflow: hidden;
    background-image: url(/img/bg-img-patients.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hero-heading {
  text-align: center;
  font-size: 2.625rem;
  line-height: 3.25rem;
  max-width: 820px;
  margin: 0 auto 36px;

  @include media_max($bp_mobile) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.home-hero {

  .cta-row {
    max-width: 485px;
    margin: 0 auto 56px;
    text-align: center;
  }

  .cta {
    width: 225px;
    border-radius: 5px;
    font-size: 1.125rem;
    line-height: 46px;
    display: inline-block;
    color: $white;

    &:hover {
      text-decoration: none;
    }

    &.primary {
      background: $green;
    }

    &.secondary {
      background: transparent;
      border: 1px solid $green;
      margin-left: 30px;

      @include media_max($bp_mobile) {
        margin-left: auto;
      }
    }

    @include media_max($bp_mobile) {
      display: block;
      margin: 0 auto 20px;
    }
  }

  .screenshot-img {
    display: block;
    border-radius: 5px;
    margin: 0 auto -25px;
    max-width: 90%;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.50);
  }
}

.product-summary {
  padding: 60px 0;
  text-align: center;
  background: $navy-drk;

  .summary-heading {
    max-width: 640px;
    margin: 0 auto 65px;
    font-size: 1.625rem;
    line-height: 2rem;

    @include media_max($bp_mobile) {
      font-size: 1.4rem;
      line-height: 1.6rem;
    }
  }

  .why-hospitalrun {

    blockquote {
      margin: 0;
    }

    h2 {
      font-size: 1.625rem;
      line-height: 2rem;
      max-width: 840px;
      margin: 56px auto 40px;

      @include media_max($bp_mobile) {
        font-size: 1.4rem;
        line-height: 1.6rem;
      }
    }
  }

  .sponsors {

    img {
      width: 200px;
      height: auto;
    }

    h2 {
      font-size: 1.625rem;
      line-height: 2rem;
      max-width: 840px;
      margin: 56px auto 40px;

      @include media_max($bp_mobile) {
        font-size: 1.4rem;
        line-height: 1.6rem;
      }
    }
  }

  .img-do {
    padding-bottom: 0.8em;
    margin-right: 2em;

    @include media_max($bp_mobile) {
      padding-bottom: 2em;
      margin-left: 2.2em;
    }
  }

  .img-so {
    padding-bottom: 0.8em;
    margin-left: 2em;

    @include media_max($bp_mobile) {
      padding-top: 2em;
      margin-right: 2.1em;
    }

    @include media_max($bp_tablet) {
      padding-top: 2em;
      margin-right: 2.1em;
    }
  }

  .read-more {
    font-size: 1.625rem;
    margin-bottom: 0;

    @include media_max($bp_mobile) {
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

    >a {
      border-bottom: 1px solid;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.features {
  max-width: 850px;
  margin: 0 auto;
  border-bottom: 1px solid #546a83;

  .feature-row {
    @include clearfix;
  }

  .feature-item {
    display: inline-block;
    max-width: 332px;
    margin: 0 40px 60px;

    @include media_max($bp_mobile) {
      margin: 0 auto 40px;
    }
  }

  .feature-heading {
    font-size: 1.625rem;
    color: $green;
    margin: 0 0 25px;
  }

  .description {
    font-size: 1rem;
    line-height: 1.1875rem;
    margin: 0;
  }
}