// Layout Styles
// ----------------------------------------------------------

// Site header

.site-header {

  .wrapper {
    display: flex;
    flex-direction: row; 
  }

  &.site {
    background: $navy-drk;
    @include clearfix;

    .logo {
      padding: 10px 0;
      margin-top: 6px;
      margin-right: 51px;
      @include media_max(1030px) { @include center-element(85%); }
      @include media_max(780px)  { @include center-element(95%); }
    }
  }

  &.home {
    .logo {
      display: block;
      margin: 55px auto 30px;
      text-align: center;
    }
  }

  .site-nav {
    @include media_max(1030px) { display: none; }
  }

  .nav-link {
    color: $white;
    display: inline-block;
    padding: 0 10px;
    line-height: 63px;
  }

  .hamburger-site-nav {
    @include border-radius(4px);
    @include media_min(1031px) { display: none; }
    position: fixed; z-index: 999;
    top: 16px; right: 26px;
    background: $green;
    border: 1px solid rgba(#333,.2);

    .nav-trigger {
      @include border-radius(4px);
      padding: 8px;
      display: block;
      text-align: right;
      line-height: 1;

      .menu-icon { display: block; }

    }

    .links {
      list-style: none;
      margin: 0;
      padding: 0 15px 25px;
      text-align: right;
      display: none;
      font-size: 22px;


      > li:hover {
        margin: 0 -16px;
        padding: 0 15px;
        background-color: $navy-drk;
        color: white;
        a  { color: white; }
        }

      a { 
        text-decoration: none;
        color: $navy-drk;
      }
    }

    &:hover {
       background: $green;

      .links { display: block; }

      .nav-trigger {

        .menu-icon { display: inline-block; }

      }
    }
  }
}


// Site footer

.site-footer {
  text-align: center;
  padding: 30px 0;
  color: #546A83;
  @include media_max(1030px) { display: none; }

  .footer-link {
    color: $white;
    display: inline-block;
    padding: 0 5px;
  }
}

// terminal
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }

// Demo page styles
// -------------------------------------------/

body.demo {

  h2 {
    font-size: 24px;
    margin: 20px 0 0;
  }

  h3 {
    font-size: 18px;
    margin-top: 20px;
  }

  p > strong {
    color: $green;
    padding: 2px 6px;
    background: rgba($green,.1);
    border-radius: 3px;
    text-transform: uppercase;
  }

}
