// Variables
// -------------------------------------------/

$container-width:         980px !default;
$grid-gutter:             10px !default;

// Colors
$green:                   #1abc9c;
$white:                   #fff;
$bg-navy:                 #2f4358;
$navy-drk:                #273647;

// Styles
$text_color:              $white;