// Variables
// -------------------------------------------/

$container-width: 980px !default;
$grid-gutter: 10px !default;
$bp_mobile: 630px;
$bp_tablet: 727px;

// Colors
$green: #1abc9c;
$white: #fff;
$bg-navy: #2f4358;
$navy-drk: #273647;
$gray-blue: #8FA5BC;
$light-gray: #e8e8e8;
$medium-gray: #818181;
$navy-gray: #3B4D63;

// Styles
$text_color: $white;