// Variables
// -------------------------------------------/

$container-width: 980px !default;
$grid-gutter:     10px !default;

// Colors
$green:         #00bd9c;
$white:         #fff;

// Styles
$text_color:        $white;