---
layout: page
header-image: /assets/img/CURE_Map_June15-1.png
title: Hospital Stories
permalink: /stories
add_to_menu: true
description: "HospitalRun is used worldwide, covering the needs of small medical districts up to large-scale hospital clinics."
keywords: "hospitalrun, positions, usage, map"
---

<!-- Start Feature  Area -->
<div class="feature-area bg-color1">
  <div class="feature-wrapper section-spacing py-0">
    <div class="container-fluid">
      <div class="row">
        {% include map.html %}
      </div>
    </div>
  </div>
</div>
<!-- End Feature Area -->
{% include testimonials.html %}
<!-- Start Form  Area -->
<section class="form-area bg-color1">
  <div class="form-wrapper section-spacing">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h3>Do you use HospitalRun daily in your hospital? Let us know!</h3>
          <p>
            Fill out the form below by entering your data. Your facility will be
            inserted in the map as soon as possible.
          </p>
          <div class="col-md-12 px-0">
          <a
                    href="http://eepurl.com/c7uKKf"
                    target="_blank"
                    rel="noopener"
                    >
            <article class="feature-box bg-color3">
              <header class="feature-logo wow bounceIn" data-wow-duration="1s">
                <div class="feature-icon"><i class="fa fa-map"></i></div>
              </header>
              <footer class="feature-content">
                <h5 class="heading-5">Fill the form</h5>
                <p>
                  Click here to give us your hospital details.
                </p>
              </footer>
            </article></a
                  >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Form Area -->

