---
layout: default
---

<section class='blog-posts'>
  <section class='blog-sidebar'>
    {% include recent-posts.html %}
    <!-- {% include recent-releases.html %} -->
  </section>
  <section class='index-list'>
    {% for page in site.posts %}
    <div class='post'>
      <h1><a href='{{ page.url }}'>{{ page.title }}</a></h1>
      {% include post-meta.html %}
      {{ page.excerpt }}
      <a href='{{ page.url }}' class='read-more-link' title='Read more link'>Read more…</a>
    </div>
    {% endfor %}
  </section>
</section>