<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="page-event">
    <div class="top">
      {% include home/header.html %}

      <p>
        More than 1.7 billion people are living in under-developed countries,
      </p>
      <p>
        where there's less than one hospital for every 100,000 people.
      </p>
      <p>
        To make it worse, these scarce hospitals can't afford an IT system.
      </p>
      <p>
        Qualified physicians are spending more than 20% of their time in administration.
      </p>
      <p>
        With the right software we can reduce all that wasted time.
      </p>
      <p>
        We can make more people get the help they need.
      </p>
      <p>
        We can save lives.
      </p>

      <h3>
        HospitalRun is a web-based, offline-first, open source EMR project for developing world hospitals.
      </h3>

      <p>
        In {{ page.when }} {{ page.where }} will come together to push this forward.
      </p>

      <div class="cta-row">
        <a href="https://ti.to/yldio/hospitalrun-lisbon" class="cta primary">Sign me up!</a>
      </div>

      <p>
        <i>
          Are you a capable developer?
        </i>
        &nbsp; &nbsp;
        <i>
          What have you been using your skills for?
        </i>
        <br>
        With an ever bigger demand for developers, it's easy to forget
        about the truly positive things you can do with your skills.
        <br>
        <i>
          What are you doing?
        </i>
      </p>

    </div>

    <div class="page-content">
      <div class="wrapper">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98265531-1', 'auto');
      ga('send', 'pageview');
    </script>
    </body>
</html>
