<!DOCTYPE html>
<html>

{% include head.html %}

<body class="page-home">

  <div class="page-top">
    {% include home/header.html %}
    {% include home/hero.html %}
  </div>

  {% include home/product-summary.html %}
  {% include footer.html %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% include cookie.html %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-98265531-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-98265531-1');
  </script>
</body>

</html>