<div class="home-hero">
  <div class="wrapper">

    <h1 class="hero-heading">Free, easy-to-use software for<br> developing world healthcare.</h1>

    <div class="cta-row">
      <a href="/tryit" class="cta primary">Try HospitalRun</a>
      <a href="https://github.com/HospitalRun/hospitalrun-frontend" class="cta secondary">View source on GitHub</a>
      <p>HospitalRun 1.0.0 Beta is now available! <a href="/blog/2017/05/announcing-hospitalrun-1.0.0-beta">Read more</a>.</p>
    </div>

    <div class="screenshot">
      <img src="/img/screenshot-mock-sm.jpg" alt="HospitalRun user interface screenshot" class="screenshot-img" width="640">
    </div>

  </div>
</div>
