<div class="home-hero">
  <div class="wrapper">

    <h1 class="hero-heading">Open source software for<br> developing world hospitals.</h1>

    <div class="cta-row">
      <a href="/demo" class="cta primary">View demo</a>
      <a href="https://github.com/HospitalRun/hospitalrun-frontend" class="cta secondary">View source on GitHub</a>
    </div>

    <div class="screenshot">
      <img src="/img/screenshot-mock-sm.jpg" alt="HospitalRun user interface screenshot" class="screenshot-img" width="640">
    </div>

  </div>
</div>
