<div class="product-summary">
  <div class="wrapper">

    <h2 class="summary-heading">HospitalRun is an offline-first <a target="_blank" href="http://emberjs.com">Ember</a> application.</h2>

    <div class="features">

      <div class="feature-row">
        <div class="feature-item">
          <h3 class="feature-heading">For the Developing World</h3>
          <p class="description">HospitalRun is built to provide the most modern hospital information system possible to the least resourced environments through <a href="http://github.com/hospitalrun">open source</a>.</p>
        </div>

        <div class="feature-item">
          <h3 class="feature-heading">Offline Enabled</h3>
          <p class="description">HospitalRun is designed to allow records to be carried to remote clinics. It works <a target="_blank" href="http://pouchdb.com/">when there is no Internet</a>, and <a target="_blank" href="http://couchdb.apache.org/">syncs when there is</a>.</p>
        </div>
      </div>

      <div class="feature-row">

        <div class="feature-item">
          <h3 class="feature-heading">Intuitive Interface</h3>
          <p class="description">HospitalRun is focused on great user experience for clinicians, admins, and even <a href="https://github.com/HospitalRun/hospitalrun-frontend/blob/master/README.md" target="_blank">contributors</a>.</p>
        </div>

        <div class="feature-item">
          <h3 class="feature-heading">Saving Time</h3>
          <p class="description">HospitalRun features are optimized for the one resource we can't make more of: people's time.</p>
        </div>

      </div>

      <div class="feature-row">

        <div class="feature-item">
          <h3 class="feature-heading">Open Source</h3>
          <p class="description">HospitalRun is free and open source; and [it always will be](https://github.com/HospitalRun/hospitalrun-frontend/blob/master/LICENSE).</p>
        </div>

        <div class="feature-item">
          <h3 class="feature-heading">A Platform for Partnering</h3>
          <p class="description">HospitalRun wants to bring people from the NGO, government, and technology sectors together to solve a world-changing problem.</p>
        </div>
      </div>

    </div><!--/.features-->

    <div class="why-hospitalrun">

      <blockquote>
        <h2>"Building software for the developing world is about embracing the realities of lower-resource settings as a driver - rather than a constraint - for innovation."</h2>
      </blockquote>

      <p class="read-more"><a href="/blog/2016/06/why-hospitalrun">{% include icons/icon-octicon-file.html %} Read more</a> about why we're making HospitalRun.</p>

    </div>

  </div>
</div>
