<div class="product-summary">
  <div class="wrapper">

    <h2 class="summary-heading">HospitalRun is an offline-first Ember application powered  by Pouch & Couch, and optimized for Chrome.</h2>

    <div class="features">

      <div class="feature-row">
        <div class="feature-item">
          <h3 class="feature-heading">Free & Open Source</h3>
          <p class="description">HospitalRun is free to install and use, and has no licensing costs. It is actively developed as an open source project on GitHub.</p>
        </div>

        <div class="feature-item">
          <h3 class="feature-heading">Offline Enabled</h3>
          <p class="description">HospitalRun was designed to allow records to be carried to remote clinics. It works when there is no internet, and syncs when there is.</p>
        </div>
      </div>

      <div class="feature-row">
        <div class="feature-item">
          <h3 class="feature-heading">Inventory & Billing</h3>
          <p class="description">HospitalRun allows you to manage the business of running your hospital with patient records, inventory, billing, and more.</p>
        </div>

        <div class="feature-item">
          <h3 class="feature-heading">Intuitive Interface</h3>
          <p class="description">HospitalRun is architected for resource constrained environments and variable connectivity with a focus on being intuitive.</p>
        </div>
      </div>

    </div><!--/.features-->

    <div class="why-hospitalrun">

      <blockquote>
        <h2>"Our objective is to make a cloud-based information system for developing world healthcare facilities that makes usability key."</h2>
      </blockquote>

      <p class="read-more"><a href="http://goo.gl/NCJDnJ" target="_blank">{% include icons/icon-octicon-file.html %} Read more</a> about why we made HospitalRun.</p>

    </div>

  </div>
</div>